/* ------------------Background Image------------------
background-image: url("image_path"); used to set a background image
background-size: contain/cover/auto; used to resize the background image
contain: The image will be resized to fit within the element while maintaining its aspect ratio.
cover: The image will be resized to cover the entire element, potentially cropping parts of the image.
auto: The image retains its original size.
  
------------------------------------------------------------------
 */

 div{
   height:200px;
   width:400px;
   border:2px solid black;
   background-image: url("https://images.unsplash.com/photo-1764377722576-60611cd1d7b8?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-size:cover;
 }