p{
    font-family: 'Arial', sans-serif;
    color:#ffa511;
    text-align:center;
    font-size:50px;
    font-weight:900;
    letter-spacing:2px;
    line-height:1.5*font-size;
    text-decoration:teal double underline;
    text-transform: uppercase;

}