div{
    height:200px;
    width:500px;
    background-color:pink;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-left-color:brown;
    border-left-style:dashed;
    

}

h1{
    border-width:5px;
    border-style:dashed;
    border-color:green;
}

/*----------------BORDER SHORTHAND------------------------
Width | style | color
 */
 
 h1{
    border: 5px solid yellow;
 }

 /* -------------BORDER SIDES-------------------------------
 To control an indivisual side of the box
 border-left
 border-right
 border-top
 border-bottom
 */

 