#face{
    height:400px;
    width:400px;
    background-color:yellow;
    border-radius:50%;
}

.left_eye, .right_eye{
    height:50px;
    width:50px;
    background-color:black;
    border-radius:50%;
    position: absolute;
    top: 100px;
    left:100px;
}
.right_eye{
    left:250px;
}

.mouth{
    height:75px;
    width:200px;
    background-color: brown;
    border-radius: 0 0 30px 30px;
    top: 250px;
    left:100px;
    position: absolute;
}