div{
    height:200px;
    width:500px;
    background-color:pink;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-left-color:brown;
    border-left-style:dashed;

    padding:20px;
    padding-left:40px;
    

}

h1{
    border-width:5px;
    border-style:dashed;
    border-color:green;
}

/* ------------------padding shorthand--------------
top | right | bottom | left

padding: 10px 20px 30px 10px


*/


 